<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.LiveStreamMapper">

    <select id="getLiveStreams" resultType="org.zerock.domain.LiveStreamVO">
        SELECT * FROM LiveStreams
    </select>

    <select id="getLiveStream" parameterType="int" resultType="org.zerock.domain.LiveStreamVO">
        SELECT * FROM LiveStreams WHERE StreamID = #{streamId}
    </select>

    <update id="startLiveStream">
        UPDATE LiveStreams SET StartTime = CURRENT_TIMESTAMP WHERE StreamID = #{streamId}
    </update>

    <update id="endLiveStream">
        UPDATE LiveStreams SET EndTime = CURRENT_TIMESTAMP WHERE StreamID = #{streamId}
    </update>

    <insert id="insertLiveStream" parameterType="org.zerock.domain.LiveStreamVO">
        INSERT INTO LiveStreams (Title, URL, Description, StartTime, EndTime, Photo)
        VALUES (#{title}, #{url}, #{description}, #{startTime}, #{endTime}, #{photo})
    </insert>

    <update id="updateLiveStream" parameterType="org.zerock.domain.LiveStreamVO">
        UPDATE LiveStreams SET
        Title = #{title},
        URL = #{url},
        Description = #{description},
        StartTime = #{startTime},
        EndTime = #{endTime},
        Photo = #{photo}
        WHERE StreamID = #{streamID}
    </update>

    <delete id="deleteLiveStream" parameterType="int">
        DELETE FROM LiveStreams WHERE StreamID = #{streamId}
    </delete>

</mapper>
