<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.OrderMapper">

    <!-- 주문 등록 -->
    <insert id="insertOrder" parameterType="org.zerock.domain.OrderVO">
        INSERT INTO Orders (UserID, ProductID, Quantity, ShippingAddress, ShippingPostalCode)
        VALUES (#{userID}, #{productID}, #{quantity}, #{shippingAddress}, #{shippingPostalCode})
    </insert>
    
    <!-- 주문 조회 -->
    <select id="selectOrder" resultType="org.zerock.domain.OrderVO" parameterType="int">
        SELECT * FROM Orders WHERE OrderID = #{orderID}
    </select>
    
    <!-- 모든 주문 조회 -->
    <select id="selectAllOrders" resultType="org.zerock.domain.OrderVO">
        SELECT * FROM Orders
    </select>
    
    <!-- 주문 수정 -->
    <update id="updateOrder" parameterType="org.zerock.domain.OrderVO">
        UPDATE Orders
        SET UserID = #{userID}, ProductID = #{productID}, Quantity = #{quantity},
            ShippingAddress = #{shippingAddress}, ShippingPostalCode = #{shippingPostalCode}
        WHERE OrderID = #{orderID}
    </update>
    
    <!-- 주문 삭제 -->
    <delete id="deleteOrder" parameterType="int">
        DELETE FROM Orders WHERE OrderID = #{orderID}
    </delete>
    
</mapper>
